.radio-wrapper{
	display:flex;flex-direction:row;justify-content:center;align-items:center;width:100%;margin-top:14px;box-sizing:border-box;
	& .radio-item{
       display:inline-flex;
       & .item-input{
          appearance:none;outline:none;display:block;
          width:20px;height:20px;border:0;outline:none;
          vertical-align:middle;background:none;overflow:visible;position:relative;
          &:before{
            content:'';display:block;width:16px;height:16px;border-radius:10px;border:1px solid #dfe0e1;
            position:absolute;left:0;top:0;
          }
       }
	}
	& .radio-selected{
	   position:relative;
	   & .item-input{
	      &:after{
	      	content:'';position:absolute;display:block;left:6px;top:6px;border-radius:8px;background:#18b4ed;width:16px;height:16px;
	      }
	   }
	}

}

.radio-group{
	display:inline-flex;
}