.wrapper{
	width:300px;
	display:flex;flex-direction:column;
	position:absolute;left:50%;margin-left:-150px;background:#fff;border-radius:4px;font-size:16px;letter-spacing:1px;

	& .title{
	   padding:7px 8px 7px 8px;
	}
	& .content{
	   padding:8px 30px;
	}
}