.pageviewer-wrapper{
	display:flex;width:100%;position:absolute;left:0;top:0;height:100%;

	& .pageviewer-footer{
	   width:100%;display:inline-flex;position:fixed;left:0;right:0;bottom:0;height:60px;border-top:1px solid #eee;align-items:center;

	   & .pageviewer-tag{
           flex-grow:1;
	   }
	}
}